<!doctype html>
<html>
	<head>
		<title>TODO Title</title>
		<script type="text/javascript" src="scripts/angular.js"> </script>
		<script type="text/javascript" src="app.js"></script>
		<script src="/scripts/ui-grid.js"></script>
    	<link rel="stylesheet" href="/scripts/ui-grid.css"/>
    	<link rel="stylesheet" href="/scripts/app.css"/>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	</head>
	<body>  
		<div ng-app="tabs" ng-controller="tabsCtrl">
			<div class="container">
				<button ng-click="addURL()"   type="button" class="btn btn-success pull-left">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>
				<button ng-click="expand()"   type="button" class="btn btn-warning pull-right">
					<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
				</button>
			</div>

      		<div ui-grid="gridOptions" class="grid"></div>
		</div>
	</body>
</html>